.Add-blog-page {
  margin: 40px auto 110px 76px;
  display: flex;
  gap: 21%;
  font-family: "firago";
  .exit-btn {
    width: 44px;
    height: 44px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .add-blog-form {
    font-family: "firago";
    .form-title {
      color: var(--charcoal);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 40px;
    }
    .label {
      color: var(--charcoal);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
    .drop-file-input {
      width: 600px;
      height: 180px;
      margin-top: 8px;
      border-radius: 12px;
      border: 1px dashed var(--steel-gray);
      background: var(--pale-lavender);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .drop-file-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 24px;
        cursor: pointer;
      }
      .file-select {
        color: var(--charcoal);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
    .drop-file-input:hover {
      background: var(--lavender-mist);
    }
    .select-file-input {
      height: 56px;
      border: none;
      padding: 16px;
      display: flex;
      border-radius: 12px;
      background: var(--whispering-blue);
      flex-direction: row;
      justify-content: space-between;
      background: var(--whispering-blue);
      .input-close-btn {
        cursor: pointer;
        border: none;
        background: transparent;
        &:hover {
          background: var(--light-blue);
          border-radius: 30px;
        }
      }
    }
    .common-input-style {
      width: 288px;
      height: 44px;
      margin-top: 8px;
      padding-left: 16px;
      border-radius: 12px;
      border: 1.5px solid var(--pale-purple);
      outline: none;
      background: var(--pale-gray) !important;
      font-family: "firago";
      &:focus {
        border: 1.5px solid var(--purple) !important;
      }

      &[type="date"]::-webkit-calendar-picker-indicator {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    .input-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 24px auto 24px 0;
      .validation-text {
        list-style: none;
      }
    }
    .submit-button-wrapper {
      display: flex;
      justify-content: end;
      .submit-btn {
        display: flex;
        width: 288px;
        padding: 10px 20px;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        color: var(--white);
        // background: var(--pale-purple);
        border-radius: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
