.home-page {
  padding: 64px 76px 66px 76px;
  background: var(--soft-lilac);
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-title {
      color: var(--charcoal);
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 72px;
    }
  }
  .main-content {
    margin-top: 64px;
  }
}

.category-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.category {
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 30px;
  background: rgba(255, 184, 47, 0.08);
  .category-btn {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
