.link {
  color: var(--purple);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-family: "firago";
}
