.input-wrapper {
  display: flex;
  flex-direction: column;
  .textarea {
    width: 600px;
    height: 124px;
    border-radius: 12px;
    border: 1px solid var(--pale-purple);
    background: var(--pale-gray);
    margin-top: 8px;
    padding: 12px 16px;
    outline: none;
    resize: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .textarea::placeholder {
    color: var(--steel-gray);
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  // .categories-list {
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   gap: 24px;
  // }
  .validation-list {
    color: var(--steel-gray);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    // padding-left: 18px;
  }

  .valid {
    color: var(--green);
  }
  .is-not-valid {
    color: var(--bright-red);
  }
  .default-color {
    color: var(--steel-gray);
  }
  .valid-input-border {
    border: 1.5px solid var(--green) !important;
  }
  .invalid-input-border {
    border: 1.5px solid var(--bright-red) !important;
    background: var(--pale-pink) !important ;
  }
  .default-input-border {
    background: var(--pale-gray) !important;
    border: 1.5px solid var(--pale-purple) !important;
  }
  // .default-input-border:focus {
  //   border: 1.5px solid var(--purple) !important;
  // }
}
.input-error {
  border: 1.5px solid var(--bright-red) !important;
  background: var(--pale-pink) !important;
}
.input-error-message {
  display: flex;
  gap: 8px;
  .error-text {
    color: var(--bright-red);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
