* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --pale-purple: #e4e3eb;
  --soft-lilac: #f3f2fa;
  --pale-blue: #f7f7ff;
  --whispering-blue: #f2f2fa;
  --light-lavender: #f5f4f9;
  --pale-pink: #faf2f3;
  --pale-lavender: #f4f3ff;
  --pale-gray: #fcfcfd;
  --lavender-mist: #f1effb;
  --steel-gray: #85858d;
  --navy-gray: #404049;
  --lavender-gray: #d9d8e0;
  --purple: #5d37f3;
  --deep-blue: #512be7;
  --bright-red: #ea1919;
  --green: #14d81c;
  --charcoal: #1a1a1f;
  --black: #000000;
}
.no-scroll {
  overflow: hidden;
}
