* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --pale-purple: #e4e3eb;
  --soft-lilac: #f3f2fa;
  --pale-blue: #f7f7ff;
  --light-lavender: #f5f4f9;
  --pale-pink: #faf2f3;
  --pale-lavender: #f4f3ff;
  --steel-gray: #85858d;
  --purple: #5d37f3;
  --bright-red: #ea1919;
  --charcoal: #1a1a1f;
}
